body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity:10;
    transform: translate(-50%, -50%);
    z-index: -1; /* 使视频在背景 */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.3); /* 半透明黑色 */
    z-index: -1; /* 在视频上方 */
}
/* webkit, opera, IE9 */
::selection{background:lightblue;}
/* mozilla firefox */
​​​​​​​::-moz-selection{background:lightblue;}
/* webkit, opera, IE9 */div.highlightBlue::selection{background:lightblue;}
/* mozilla firefox */div.highlightBlue::-moz-selection{background:lightblue;}
/* webkit, opera, IE9 */div.highlightPink::selection{background:pink;}
/* mozilla firefox */div.highlightPink::-moz-selection{background:pink;}